<nav class="navbar navbar-default header">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1 href="#" class="navbar-brand navbar-btn">Homes for Hounds</h1>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-btn" style="padding-left: 40px;">
                <li routerLinkActive="active"><a routerLink="/small">Small Dogs</a></li>
                <li routerLinkActive="active"><a routerLink="/large">Large Dogs</a></li>
            </ul>
        </div>
    </div>
</nav>
